In [1]:
import pdal

import numpy as np
import pandas as pd

# Read lidar data into a dataframe

In [4]:
fn = 'https://s3.amazonaws.com/hobu-lidar/autzen-classified.copc.laz'

pipeline = pdal.Reader(fn).pipeline()
count = pipeline.execute()
df = pd.DataFrame(pipeline.arrays[0])

df.head()

,X,Y,Z,Intensity,ReturnNumber,NumberOfReturns,ScanDirectionFlag,EdgeOfFlightLine,Classification,ScanAngleRank,UserData,PointSourceId,GpsTime,ScanChannel,ClassFlags,Red,Green,Blue
0,637031.62,849132.05,412.70,2048,1,1,1,0,2,-10.002,132,7326,245380.513846,0,0,10496,13568,22272
1,637032.08,849130.05,413.01,3840,1,1,1,0,5,-10.002,133,7326,245380.513856,0,0,12544,16896,23040
2,637032.45,849128.15,411.84,31232,1,1,1,0,2,-10.002,132,7326,245380.513866,0,0,14080,19456,23552
3,637031.52,849123.25,413.65,18688,1,1,0,0,2,-10.002,124,7326,245380.526929,0,0,19456,28160,27392
4,637030.99,849125.38,412.80,34816,1,1,0,0,2,-10.002,124,7326,245380.526939,0,0,15360,23808,26112